*index.css linguist-vendored
*.scss linguist-vendored
*.less linguist-vendored
*.svg linguist-vendored
*.png linguist-vendored
*.jpg linguist-vendored
*.gif linguist-vendored
client/src/countriesjson.js linguist-vendored
node_modules/* linguist-vendored
public/* linguist-vendored
