.form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form-container form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 5px;
    border: 2px solid cyan;
    padding: 20px;
    width: 300px;
}
.form-container button{
    height: 30px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
}
.address-btn{
    opacity: 1;
}
.form-container button:nth-child(2n-1){
    margin-top: 10px ;
}
.address-btn:hover{
    opacity: 0.8;
    transition: 0.3s;
}