.expBackdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.expContent {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid cyan;
    color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.top{
    display: flex;
    justify-content: flex-start;
}
.ok{
    text-align: center;
}
.ok button{
    height: 30px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    width: 90%;
}
